.card-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.card {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px 0px;
    border-radius: 8px;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 15px 2px;
    transition: all 300ms ease-in-out 0s;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 16px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 4px;
}